{% extends "informes/base.html" %}

{% block body %}
<div class= "mt-1 ml-1">
    <h1>InformeFormularios List</h1>

    <form method="get" action="{% url 'formularios' %}">
        <label for="cesfam_filter">Cesfam:</label>
        <select name="cesfam_filter" id="cesfam_filter" onchange="this.form.submit()">
            <option value="todos" {% if 'cesfam_filter' not in request.GET %}selected{% endif %}>Todos</option>
            {% for cesfam in cesfams %}
                <option value="{{ cesfam }}" {% if cesfam == request.GET.cesfam_filter %}selected{% endif %}>
                    {{ cesfam }}
                </option>
            {% endfor %}
        </select>
        <noscript>
            <button type="submit">Submit</button>
        </noscript>
    </form>
    cesfam = cesfam_filter, usuario = dentista_filter, riesgo = riesgo_filter, completo = completitud_filter
    <form method="get" action="{% url 'formularios' %}">
        <label for="dentista_filter">Odontólog@:</label>
        <select name="dentista_filter" id="dentista_filter" onchange="this.form.submit()">
            <option value="todos" {% if 'dentista_filter' not in request.GET %}selected{% endif %}>Todos</option>
            {% for dentista in dentistas %}
                <option value="{{ dentista.rut }}" {% if dentista == request.GET.dentista_filter %}selected{% endif %}>
                    {{ dentista }}
                </option>
            {% endfor %}
        </select>
        <noscript>
            <button type="submit">Submit</button>
        </noscript>
    </form>
    
    
    


    <div class="container">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primera Página</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Cirujano Dentista</th>
                    <th>Paciente</th>
                    <th>Fecha Formulario</th>
                    <th>Edad ese día</th>
                    <th>Edad hoy</th>
                    <th>Riesgo</th>
                    <th>Estado Control</th>
                    <th>Próx. Control Según Formulario</th>
                    <th>Días Restantes</th>
                    <th>Próx. Control Según Programa </th>
                    <th>Días Restantes</th>
                </tr>
            </thead>
            <tbody>
                {% for informe_formulario in object_list %}
                <tr>
                    <td>{{ informe_formulario.usuario }}</td>
                    <td>{{ informe_formulario.paciente }}</td>
                    <td>{{ informe_formulario.fecha_formulario }}</td>
                    <td>{{ informe_formulario.edad_form }}</td>
                    <td>{{ informe_formulario.paciente.edad_hoy }}</td>
                    <td>{{ informe_formulario.riesgo }}</td>
                    <td>{{ informe_formulario.estado_control }}</td>
                    <td>{{ informe_formulario.fecha_prox_control }}</td>
                    <td>
                        {% if informe_formulario.tiempo_restante < 0 %}
                          <button class="btn btn-danger">salió</button>
                        {% elif informe_formulario.tiempo_restante <= 30 %}
                          <button class="btn btn-warning">{{ informe_formulario.tiempo_restante }} días</button>
                        {% else %}
                          <button class="btn btn-success">{{ informe_formulario.tiempo_restante }} días</button>
                        {% endif %}
                      </td>
                    <td>{{ informe_formulario.fecha_sale }}</td>
                  
                    <td>
                        {% if informe_formulario.tiempo_restante_real < 0 %}
                          <button class="btn btn-danger">salió</button>
                        {% elif informe_formulario.tiempo_restante_real <= 30 %}
                          <button class="btn btn-warning">{{ informe_formulario.tiempo_restante_real }} días</button>
                        {% else %}
                          <button class="btn btn-success">{{ informe_formulario.tiempo_restante_real }} días</button>
                        {% endif %}
                      </td>
                      
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Primera Página</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Última Página &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>






</div>


<script>
    const selectElement = document.getElementById("cesfam_filter");
    const selectedOptionValue = "{{ request.GET.cesfam_filter }}";
    for (let option of selectElement.options) {
        if (option.value === selectedOptionValue) {
            option.selected = true;
            break;
        }
    }

</script>

{% endblock %}